html,
body {
	height: 100%;
}

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: #333;
}

a {
	color: #009688;
}

a:hover,
a:active {
	text-decoration: none;
}
.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}
.ul-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
.header {
	text-align: center;
}
.navigation {
	background-color: #eee;
	font-weight: 700;
}

.navigation-list {
	font-size: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation-item {
	font-size: 1.2rem;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
.main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.content-article {
	margin-top: 80px;
}

.content-article:first-child {
	margin-top: 0;
}

.content-article > h1:first-child {
	margin-top: 0;
}


.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #333;
	color: #fff;
}

.footer a,
.footer a:hover {
	color: inherit;
	font-size: 1rem;
}

.footer .navigation {
	background-color: inherit;
	text-align: center;
	font-weight: 400;
}
@media only screen and (max-width:1024px) {
	.wrapper {
		width: 90%;
	}
}
.header p{
	font-size: 12px;
	color: red;
}
.header img{
	padding-bottom: 0em;
}
.introduction{
	background-color: lightblue;
	padding-left: 10%;
}
.introduction h1{
	color: red;
}
.other_services {
	display: block;
	padding-bottom:2px;

}
.other_services img{
	padding-bottom: 5px;
}
.div{
	text-align: center;
}

* {
	box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
  }
  
  .column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  @media screen and (max-width: 600px) {
	.column, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }

  h3{
	  text-align: center;
  }

  h2,p{
	  text-align: center;
	  font-size: 10x;
  }